<footer class="my-5 border-top">

  <div class=" bg-light py-2">
    <div class="container">
      <mat-list>
        <h3 mat-subheader>Desarrollado por:</h3>
        <mat-list-item>
          <p class="font-weight-light">Jhon Harvey Medina Acevedo</p>
        </mat-list-item>
        <mat-list-item>
          <p class="font-weight-light">Francisco Pacheco</p>
        </mat-list-item>
        <mat-list-item>
            <p class="font-weight-light">Armando Palmeras</p>
          </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="container text-center my-3 py-2">
    <p style="margin: none;">© Laboratorio Ceiba</p>
  </div>

</footer>