<div class="container">
    <a mat-button routerLink="/principal">Volver</a>
  </div>
  <div class="container ">
  
    <mat-card class="card-width center">
      <mat-card-header>
        <h2>Formulario de Registro</h2>
      </mat-card-header>
      <mat-card-content>
  
        <mat-form-field class="input-full-width">
          <input [(ngModel)]="seguro" matInput maxlength="100" placeholder="Documento">
        </mat-form-field>
  
        <mat-form-field class="input-full-width">
          <input [(ngModel)]="seguro" matInput maxlength="100" placeholder="Nombre Completo">
        </mat-form-field>
  
  <!--
        <mat-form-field class="input-full-width">
          <input [(ngModel)]="propietario.usuario.usuario" matInput maxlength="100" placeholder="Usuario">
        </mat-form-field>
  
  
        <mat-form-field class="input-full-width">
          <input [(ngModel)]="propietario.usuario.clave" matInput maxlength="100" placeholder="Clave">
        </mat-form-field>
  -->
  
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="guardar()">Registrar</button>
        <button mat-raised-button color="warn" (click)="reiniciar()">Limpiar</button>
      </mat-card-actions>
    </mat-card>
  </div>